.react {
	height: 250px;
	width: 400px;
	background-color: darkblue;
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	position: relative;
	transition: 0.5s ease-in-out;
}
.redux {
	height: 250px;
	width: 400px;
	background-color: rgb(212, 80, 235);
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	position: relative;
	transition: 0.5s ease-in-out;
}
.java {
	height: 250px;
	width: 400px;
	background-color: rgb(255, 157, 0);
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	position: relative;
	transition: 0.5s ease-in-out;
}
.php {
	height: 250px;
	width: 400px;
	background-color: rgb(123, 0, 255);
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	position: relative;
	transition: 0.5s ease-in-out;
}
.python {
	height: 250px;
	width: 400px;
	background-color: rgb(22, 148, 165);
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	position: relative;
	transition: 0.5s ease-in-out;
}
.javascript {
	height: 250px;
	width: 400px;
	background-color: rgb(112, 170, 50);
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	position: relative;
	transition: 0.5s ease-in-out;
}
.github {
	height: 250px;
	width: 400px;
	background-color: rgb(72, 71, 71);
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	position: relative;
	transition: 0.5s ease-in-out;
}
.premierePro {
	height: 250px;
	width: 400px;
	background-color: rgb(102, 0, 255);
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	position: relative;
	transition: 0.5s ease-in-out;
	transform: translate(-30px, 0px);
}
.afterEffects {
	height: 250px;
	width: 400px;
	background-color: rgb(84, 3, 204);
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	position: relative;
	transition: 0.5s ease-in-out;
	transform: translate(-30px, 0px);
}
